* {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif; 
	color: white;
}

h2,
h3,
p
{
	color: black;
}

h1 {
	font-size: 70px;
	color: white;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 14px;
}

.nav-bar a {
	font-size: 18px;
}


.location {
	background-image: url('../images/the-flatiron-building.png');
}

.location h3 {
	color: white;
}

.footer {
	background-color: dimgray;
	color: white;
}

.copyright {
	font-size: 11px;
}